<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="layout/plantilla :: head">
        <title>[[#{ti.token}]]</title>
        <meta charset="UTF-8"/>
    </head>
    <body class="bg-dark">
        <header th:replace="layout/plantilla :: header"></header>

        <section id="login" >
            <div class="container" >
                <div class="row">
                    <div class="col-md-9 mx-auto">
                        <div class="card">
                            <div class="card-header bg-primary text-center">
                                <h4>[[#{ti.token}]]</h4>
                            </div>
                            <div class="card-body bg-dark text-white" >
                                <h3>[[#{ti.usuario.mensajeToken}]]&nbsp;<strong>[[${dto.token}]]</strong></h3>
                            </div>
                            <div class="card-footer bg-dark">
                                <div class="alert alert-info" role="alert">
                                    <strong th:if="${!restablece}" th:text="#{ti.token.mensaje}"></strong>
                                    <div th:if="${restablece}">
                                        <br>
                                        <span th:text="#{ti.token.mensaje-dos}"></span>
                                    </div>
                                    &nbsp;Haga click&nbsp;<a th:href="@{/login}" class="alert-link">aqu&iacute;</a> para continuar.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer th:replace="layout/plantilla :: footer"> </footer>
    </body>
</html>