<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>Listado Productos</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <section th:fragment="listadoProductos" id="productos">
            <section id="main-header" class="py-2 bg-dark text-white">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h1>
                                <i class="fas fa-cog"></i> [[#{ti.controlProductos}]]
                            </h1>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Inicio del container -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header bg-secondary text-center text-white">
                                <h4>[[#{ti.productos}]]</h4>
                            </div>
                            <!-- Tabla de Productos -->
                            <div th:if="${productos != null and !productos.empty}">
                                <table class="table table-dark table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th th:text="#{ti.codigo}">Codigo</th>
                                            <th th:text="#{ti.nombre}">Nombre</th>
                                            <th th:text="#{ti.marca}">Marca</th>
                                            <th th:text="#{ti.tipo}">Tipo</th>
                                            <th th:text="#{ti.precio}">precio</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <!-- Cuerpo de la tabla -->
                                    <tbody>
                                        <tr th:each="producto, contador : ${productos}">
                                            <td>[[${contador.count}]]</td>
                                            <td>[[${producto.codigo}]]</td>
                                            <td>[[${producto.nombre}]]</td>
                                            <td>[[${producto.nombre}]]</td>
                                            <td>[[${producto.tipo}]]</td>
                                            <td>[[${new java.text.DecimalFormat('$#,##0.00').format(producto.precio)}]]</td>
                                            <td>
                                                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/editarProducto/} + ${producto.idProducto}"
                                                   class="btn btn-secondary">
                                                    <i class="fas fa-angle-double-right"></i> [[#{accion.editar}]]
                                                </a>
                                            </td>
                                            <td>
                                                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/eliminarProducto(idProducto=${producto.idProducto})}"
                                                   class="btn btn-secondary">
                                                    <i class="fas fa-angle-double-right"></i> [[#{accion.eliminar}]]
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${productos == null or productos.empty}">
                                <span th:text="#{productos.lista-vacia}">Lista vacia</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 ms-md-auto">
                        <div class="card text-center bg-success text-white mb-3">
                            <div class="card-body">
                                <h3 th:text="#{ti.totalProductos}">Total Productos</h3>
                                <h4 class="display-4">
                                    <i class="fas fa-duotone fa-ice-cream"></i> [[${totalProductos}]]
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
