<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
    <head th:replace="layout/plantilla :: head">
        <title>Agregar Cliente</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <section th:fragment="agregarCliente">
            <div class="modal fade" id="agregarCliente" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title" th:text="#{accion.agregar}">Agregar Cliente</h5>
                            <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                        </div>
                        <form class="was-validated" method="POST" th:action="@{/guardarCliente}" th:object="${cliente}">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="nombreCliente">[[#{ti.nombre}]] y [[#{ti.apellido}]]</label>
                                    <input class="form-control" name="nombreCliente" required="true" type="text"/>
                                </div>
                                <div class="form-group">
                                    <label for="direccionCliente" th:text="#{ti.direccion}">Apellido</label>
                                    <input class="form-control" name="direccionCliente" required="true" type="text"/>
                                </div>
                                <div class="form-group">
                                    <label for="telefonoCliente" th:text="#{ti.telefono}">Telefono</label>
                                    <input class="form-control" name="telefonoCliente" type="tel"/>
                                </div>
                                <div class="form-group">
                                    <label for="zona" th:text="#{ti.zona}">Zona</label>
                                    <input class="form-control" name="zona" required="true" type="text"/>
                                </div>
                                <div class="form-group">
                                    <label for="saldoCliente" th:text="#{ti.saldo}">Saldo</label>
                                    <input class="form-control" name="saldoCliente" step="any" type="number"/>
                                </div>
                                <div class="form-check">
                                    <input checked class="form-check-input" id="freezer" type="checkbox" value="freezer">
                                        <label class="form-check-label" for="freezer">
                                            [[#{ti.freezer}]]
                                        </label>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" th:text="#{accion.guardar}" type="submit">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
