<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
    <head th:replace="layout/plantilla :: head">
        <title>Editar Cliente</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <section th:fragment="editarCliente">
            <form class="was-validated" method="POST" th:action="@{/guardarCliente}" th:object="${cliente}">
                <input name="idCliente" th:field="*{idCliente}" type="hidden"/>
                <section th:replace="cliente/botonesEditarCliente :: botonesEditar"></section>
                <div id="details">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>[[#{accion.editar}]]</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="nombre">[[#{ti.nombre}]] [[#{ti.apellido}]]</label>
                                            <input class="form-control" name="nombre" th:field="*{nombreCliente}" type="text"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="direccion">[[#{ti.direccion}]]</label>
                                            <input class="form-control" name="direccion" th:field="*{direccionCliente}" type="text"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="telefono">[[#{ti.telefono}]]</label>
                                            <input class="form-control" name="telefono" th:field="*{telefonoCliente}" type="tel"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="zona">[[#{ti.zona}]]</label>
                                            <input class="form-control" name="zona" th:field="*{zona}" type="text"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="saldo">[[#{ti.saldo}]]</label>
                                            <input class="form-control" name="saldo" step="any" th:field="*{saldoCliente}" type="number"/>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" id="freezer" th:field="*{freezer}" type="checkbox" value="freezer" >
                                                <label class="form-check-label" for="freezer">
                                                    [[#{ti.freezer}]]
                                                </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </body>
</html>