<!DOCTYPE html>
<html
        layout:decorate="Visualizar Lista"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
>
    <head th:replace="layout/plantilla :: head">
        <title>Listado Productos</title>
        <meta charset="UTF-8"/>
    </head>
    <body class="bg-dark">
    <section th:replace="layout/plantilla :: header"></section>
        <section th:fragment="productos">
            <section class="py-2 bg-dark text-white" id="main-header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h1>
                                <i class="fas fa-cog"></i> [[#{ti.controlProductos}]]
                            </h1>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Inicio del container -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header bg-secondary text-center text-white">
                                <h4>[[#{ti.productos}]]</h4>
                            </div>
                            <div
                                    class="alert"
                                    th:classappend="'alert-' + (${clase != null} ? ${clase} : info)"
                                    th:if="${mensaje != null}"
                                    th:text="${mensaje}"
                            ></div>
                            <!-- Tabla de Productos -->
                            <table class="table table-dark table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th th:text="#{ti.codigo}">Codigo</th>
                                        <th th:text="#{ti.nombre}">Nombre</th>
                                        <th th:text="#{ti.marca}">Marca</th>
                                        <th th:text="#{ti.tipo}">Tipo</th>
                                        <th th:text="#{ti.precio}">precio</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <!-- Cuerpo de la tabla -->
                                <tbody>
                                    <div th:each="productoss : ${lista.productos}">
                                        <tr th:each="producto, contador : ${productoss.producto}">
                                            <td>[[${contador.count}]]</td>
                                            <td>[[${producto.codigo}]]</td>
                                            <td>[[${producto.nombre}]]</td>
                                            <td>[[${producto.marca}]]</td>
                                            <td>[[${producto.tipo}]]</td>
                                            <form method="post"th:action="@{/editarProd}">
                                                <input th:name="idLista" th:value="${lista.id}" type="hidden">
                                                <td>
                                                    <input th:name="id" th:value="${productoss.productoId}" type="hidden">
                                                        <input class="form-control bg-dark text-white" th:name="precio" th:value="${productoss.precio}" type="number"/>
                                                </td>
                                                <td>
                                                    <button class="btn btn-warning" name="editar" type="submit" value="editar">
                                                        <i class="fas fa-angle-double-right"></i> [[#{accion.editar}]]
                                                    </button>
                                                </td>
                                            </form>
                                        </tr>
                                    </div>
                                </tbody>
                                <tfoot class="bg-dark"></tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--JavaScript-->
        <link
                href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
                rel="stylesheet"
        />
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    </body>
</html>
