<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>Ordenes</title>
        <meta charset="UTF-8"/>
    </head>
    <body class="bg-dark">
        <header th:replace="layout/plantilla :: header"></header>
        <section th:replace="reportes/botonesAgregarReporte :: botonesAgregar"></section>
        <section th:replace="reportes/listadoReportes :: listadoReportes"></section>
        <footer th:replace="layout/plantilla :: footer"></footer>
    </body>
</html>
